*{
    padding: 0;
    margin: 0;
}
.menu{
    background: url(orange2.png) no-repeat;
    background-size: cover;
    height: 80vh;
}
.logo{
    width:140px;
    height: auto;
    padding: 20px 100px;
}
.sketch{
    width:800px;
    height: auto;
    padding: 20px 100px;
}
.Benefits ul{
    margin: 0 8px;
    line-height: 70px;
    float: right;
    margin-right: 450px;
    
}


.menu2{
    height: 120px;
    width: 100%;
    background: white;
}
.menu2 ul{
    float: right;
    margin-right: 20px;
}
.menu2 ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 115px;
}
.menu2 ul li a{
    text-decoration: none;
    color: #FFA500;
    font-size: 20px;
    font-family: sans-serif;
}    
.menu .intro{
    position: absolute;
    top: 50%;
    left: 55%;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
}   
.intro h1{
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
    color: white;
    
}
.intro h2{
    font-size: 35px;
    font-weight: italic;
    text-align: center;
    color: white;
}  
.loren{
    padding: 10%;
}
.loren p{
    font-size: 17px;
    line-height: 1.5;
    font-family: sans-serif;
    margin-bottom: 25px;
} 
.Rainbow{
    margin: auto;
    height: 400px;
    width: 960px;
    display: flex;
    background: gray;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    border-radius: 40px;
}       
.child{
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
}
.child1 {
    background-color:red;
    }
    
.child2 {
    background-color:orange;
    }
    
.child3 {
    background-color:yellow;
    }
 
.child4 {
    background-color:green;
    }
    
.child5 {
    background-color:blue;
    } 
    
.child6 {
    background-color:indigo;
    }
    
.child7 {
    background-color:violet;
    }    
    
    
    
    
    
    
    
    
    